<!DOCTYPE html>
<html lang="vi">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="container mt-5">
    <h1 class="text-center">Danh sách sản phẩm</h1>

    <!-- Nút đăng nhập và đăng ký -->
    <div class="text-right mb-3">
        <a th:href="@{/login}" class="btn btn-primary">Đăng nhập</a>
        <a th:href="@{/register}" class="btn btn-secondary">Đăng ký</a>
        <a th:href="@{/forgot-password}" class="btn btn-secondary">Quen mat khau</a>
    </div>

    <div class="row" id="product-list">
        <!-- Sản phẩm sẽ được thêm vào đây thông qua JavaScript -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>
